@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}

.caixa{
    width: 1000px;
    height: 522px;
    background: #1FA383;
    color: #fff;
    border-radius: 7px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);  
    display: flex;
    justify-content: space-between;
}

.caixa h1{
    font-size: 40px;
    text-align: center;
}

.caixa .input{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input input::placeholder{
    color: #fff;
}

.input i{
    position: absolute;
    right: 20px;
    top: 40%;
    transform: translate(-50%);
    font-size: 20px;
}

.caixa .lembrar{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.lembrar label input{
    accent-color: #fff;
    margin-right: 3px;
}

.lembrar a{
    color: #fff;
    text-decoration: none;
}

.lembrar a:hover{
    text-decoration: underline;
}

.caixa .btn{
    width: 100%;
    height: 45px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.caixa .cadastro{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}

.cadastro p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.cadastro p a:hover{
    text-decoration: underline;
}

.caixa img{
    width: 500px;
    height: 500px;
}